<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Workspace</title>
		<link rel="stylesheet" href="/mdl/material.min.css">
		<link rel="stylesheet" href="/css/elev/workspace.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.mdl-navigation span{ padding: 10px;}
</style>
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">Workspace</span>
					<div class="mdl-layout-spacer"></div>
					<nav class="mdl-navigation">
						<span href="mdl-navigation__link" href="#" id="save">Salvează</span>
						<span href="mdl-navigation__link" href="#" id="debug">Debug</span>
						<span href="mdl-navigation__link" href="#" id="step">Step</span>
						<span href="mdl-navigation__link" href="#" id="generate_schema">Generează schema logică</span>
					</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Opţiuni</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/">
						<div class="material-icons mdl-badge mdl-badge--overlap">dashboard</div>
						Pagina principală
					</a>
					<a class="mdl-navigation__link" href="/lectii">
						<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">book</div>
						Lecţii
					</a>
					<a class="mdl-navigation__link" href="/probleme">
						<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">library_books</div>
						Probleme
					</a>
					<a class="mdl-navigation__link" href="/workspace">
						<div class="material-icons mdl-badge mdl-badge--overlap">code</div>
						Workspace
					</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
			<div class="page-content">
				<div id="blocklyDiv" style="height: 600px; width: 650px;"></div>
				<p id="diagram"></p>
			</div>
			</main>
		</div>
		</div>

		<!--<xml id="toolbox" style="display: none">
			<category name="Control">
				<block type="controls_if"></block>
				<block type="controls_whileUntil"></block>
				<block type="controls_for"></block>
				<block type="controls_repeat_ext"></block>
			</category>
			<category name="Logică">
				<block type="logic_compare"></block>
				<block type="logic_operation"></block>
				<block type="logic_boolean"></block>
			</category>
			<category name="Aritmetică">
				<block type="math_number"></block>
				<block type="math_arithmetic"></block>
			</category>
			<category name="Variabile">
				<block type="variables_set"></block>
				<block type="variables_get"></block>
			</category>
			<category name="Afişare">
			<block type="text_print">
				<value name="TEXT">
				</value>
		    </block>
			<block type="text"></block>
			</category>-->
			<!--
			<category name="Citire">
				<block name="text_prompt_ext"></block>
			<category>
			-->
		<!--</xml>-->
		<xml id="toolbox" style="display: none">
			<category name="Control">
				<block type="controls_if"></block>
				<block type="controls_whileUntil"></block>
				<block type="controls_for"></block>
				<block type="controls_repeat_ext"></block>
			</category>
			<category name="Logică">
				<block type="logic_compare"></block>
				<block type="logic_operation"></block>
				<block type="logic_boolean"></block>
			</category>
			<category name="Aritmetică">
				<block type="math_number"></block>
				<block type="math_arithmetic"></block>
			</category>
			<category name="Variabile">
				<block type="variables_set"></block>
				<block type="variables_get"></block>
			</category>
			<category name="Citire şi Afişare">
			 <block type="text_prompt_ext">
				<mutation type="TEXT"></mutation>
				<field name="TYPE">TEXT</field>
				<value name="TEXT">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			<block type="text_print">
				<value name="TEXT">
				</value>
		    </block>
			<block type="text"></block>
			</category>
		</xml>

		<script src="/js/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
		</script>

		<script src="/google-blockly-fdb2698/blockly_compressed.js"></script>
		<script src="/google-blockly-fdb2698/blocks_compressed.js"></script>
		<script src="/google-blockly-fdb2698/php_compressed.js"></script>
		<script src="/google-blockly-fdb2698/msg/js/ro.js"></script>
		<script src="/mdl/material.min.js"></script>
		<script src="/js/js.cookie.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>
		<script src="/js/flowchart-latest.js"></script>
		<script src="/js/elev.js"></script>
	</body>
</html>
