<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Adaugă problemă</title>
		<link rel="stylesheet" href="/mdl/material.min.css">
		<link rel="stylesheet" href="/css/profesor.css">
		<link rel="stylesheet" href="/css/pell.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/css/getmdl-select.min.css">
	</head>
	<body>
	</head>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">Adaugă problemă</span>
					<div class="mdl-layout-spacer"></div>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Opţiuni</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/">
						<div class="material-icons mdl-badge mdl-badge--overlap">dashboard</div>
						Pagina principală
					</a>
					<a class="mdl-navigation__link" href="/lectii">
						<div class="material-icons mdl-badge mdl-badge--overlap">book</div>
						Lecţii
					</a>
					<a class="mdl-navigation__link" href="/probleme">
						<div class="material-icons mdl-badge mdl-badge--overlap">library_books</div>
						Probleme
					</a>
					<a class="mdl-navigation__link" href="/workspace">
						<div class="material-icons mdl-badge mdl-badge--overlap">code</div>
						Workspace
					</a>
				</nav>
			</div>
			<dialog class="mdl-dialog">
				<h4 class="mdl-dialog__title">Add test</h4>
				<div class="mdl-dialog__content">
					<p>
					<div class="mdl-textfield mdl-js-textfield">
						<textarea class="mdl-textfield__input" id="input"></textarea>
						<label class="mdl-textfield__label" for="sample1">Input</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<textarea class="mdl-textfield__input" id="output"></textarea>
						<label class="mdl-textfield__label" for="sample1">Output</label>
					</div>
					</p>
				</div>
				<div class="mdl-dialog__actions">
					<button type="button" class="mdl-button close">Add</button>
				</div>
			</dialog>
			<main class="mdl-layout__content">
				<center>
					<div class="mdl-textfield mdl-js-textfield">
						<input type="text" class="mdl-textfield__input" id="title">
						<label class="mdl-textfield__label" for="sample1">Numele problemei</label>
					</div>
				</center>
			<br>
			<div id="pell"></div>
			<center>
				<button class="mdl-button mdl-js-button mdl-button--raised" id="add_test">Adaugă test</button>
			</center>
			<center>
				<div id="tests"></div>
			</center>
			<br>
			<center>
				<div class="mdl-textfield
					mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
					<input class="mdl-textfield__input" type="text" id="sample1" tabIndex="-1" name="level" value="Uşor">
					<label for="sample1" class="mdl-textfield__label">Nivel de dificultate</label>
					<ul for="sample1" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
						<li class="mdl-menu__item">Uşor</li>
						<li class="mdl-menu__item">Mediu</li>
						<li class="mdl-menu__item">Greu</li>
					</ul>
				</div>
			</center>

			<center>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
					mdl-button--accent" id="send">Trimite</button>
			</center>
			<br>
			</main>
		</div>

		<script src="/mdl/material.min.js"></script>
		<script src="/js/js.cookie.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/pell.min.js"></script>
		<script src="/js/getmdl-select.js"></script>
		<script src="/js/adauga_lectie.js"></script>
	</body>
</html>
